extends layout

block content
  .huge
    i.ion-heart#heart
    br
    p.footer
      span This app was made on a boring Monday morning by #[a(href="https://falkirks.com") Falkirks]
      br
      span You can filter the hearts by going to any sub-path (eg: /cool-people will show alerts from /cool-people/*)
